includes:
    - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    paths:
        - app
        - database/Seeders
    level: 7
    ignoreErrors:
        - "#Unsafe usage of new static#"
        - "#has no return type specified\\.#"
    checkMissingIterableValueType: false
